<!DOCTYPE html>
<html>
<head>
  <title>Ouija Board</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>Ouija Board Animation</title>
  <link rel="stylesheet" type="text/css" href="/static/css/ouija.css">
</head>
<body class="body">

<div class="container mt-5">
  <div id="ouijaBoard">
    <div id="planchette"></div>
  </div>
  <div class="ouija-form">
    <form id="ouijaForm" class="text-center">
      <input type="text" id="messageInput" class="form-control my-2" placeholder="Enter your message here">
      <button type="button" class="btn btn-primary mb-2" onclick="animateMessage()">Send</button>
      <input type="text" id="messageOutput" class="form-control" placeholder="Ouija's Response" readonly>
    </form>
  </div>
</div>

<!-- Optional JavaScript -->
<script src="/static/scripts/ouija.js"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>